.cont {
  @apply flex px-6 ;
  border-bottom: 1px solid #ecf0f7 ;
}

.language {
  @apply flex justify-center items-center cursor-pointer  font-medium;
  height: 72px;
  width: 72px;
  color: #8f9bb3;
  font-size: 16px;
}

.active {
  @apply text-primary;
  border-bottom: 3px solid #067cff;
}
