

table {
  border: 1px solid lightgray;
  border-radius: 10px;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
