.inp {
  width: 350px;
  height: 48px;

  margin-top: 10px;

  padding-inline: 10px;
  border: 1px solid #e1e6ee;
}
.inpNum {
  width: 180px;
  height: 48px;
  padding-inline: 10px;
  border: 1px solid #e1e6ee;
  margin-top: 10px;
}