.main {
  @apply w-full bg-primary;
  padding-bottom: 14px;
}
.wrapper {
  @apply flex justify-between ;
  padding-top: 43px;
}
.section {
  @apply  text-white font-medium ml-2 ;
  font-size: 23px;

}
.name {
  @apply flex items-center pl-10 self-end cursor-pointer w-max;
}

.btn {
  @apply h-12 bg-white  px-6 text-primary font-medium  flex items-center;
  border-radius: 4px;
  span {
    @apply mr-1;
  }
}
.tagType {
  @apply mr-5 ;
}
.tag {
  @apply mr-10
}

.btns {
  @apply flex;
}