.cont {
  @apply  flex justify-between;
}
.left {
  @apply h-screen w-1/2 hidden lg:block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}
.phoneView {
  @apply text-primary;
}
.right {
  @apply m-auto flex flex-col items-center  lg:mt-auto;
  margin-top: 150px;
}
.circleMain {
  @apply w-24 h-24 bg-blue-400 rounded-full  flex justify-center items-center ;
  background: #0371e8;
  box-shadow: 0 4px 10px 0 rgb(45 80 238 / 24%);
  margin: 0 auto 40px;
}
.phoneNumber {
  @apply text-primary
}
.circle {
  @apply w-11 h-11 bg-white rounded-full;
}

.title {
  @apply text-4xl font-semibold text-[#31373e] mb-5;
}

.description {
  @apply  text-xl  flex justify-center items-center flex-wrap w-10/12 text-center;
  color:#919aa7 ;
  margin-bottom: 50px;
}

.btn {
  @apply  text-white text-lg outline-none;
  width: 427px;
  height: 56px;
  margin-top: 30px;
  background: #0371e8;
  border-radius: 8px;
}
.agreement {
  @apply mt-12  ;
  color:#31373e ;
}
.terms {
  color:#0371e8;
}
.form {
  @apply flex justify-between;
}

.cc {
  @apply relative mr-4  border-black border-opacity-10 flex justify-center items-center rounded-md ;
  width: 80px;
  height: 56px;
  border: 1px solid #e5e6e8;
  padding-inline: 10px;
}
.cc:hover{

    border: 2px solid black;

}
.label {
  @apply absolute  w-10 text-center  bg-white;
  font-size: 12px;
  top: -11px;
  color:#31373e ;
}

.phone {
    @apply relative mr-4   flex flex-col justify-center  transition-all ease-in-out  outline-none   ;
    width: 331px;
  height: 56px;
}

.phoneOpt {
  @apply relative   flex flex-col justify-center  transition-all ease-in-out  outline-none   ;
  width: 427px;
  height: 56px;
}






.recaptcha {
  @apply self-start mt-6;
}

.inp {
  @apply h-14 w-full px-[10px]  border-[1px] border-black border-opacity-10 rounded-md  transition-all ease-in-out outline-none;
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  border: 1px solid #e5e6e8;
}
.phoneL {
  @apply absolute left-3 bg-white w-28 text-center  pointer-events-none transition-all ease-in-out;
  color: #31373e;
}

.inp:focus + .phoneL  , .inp:valid + .phoneL  {
  transform: translateY(-160%);
  font-size: 12px;
}
.inp:focus {
  @apply border-2 border-blue-600
}
.inp:focus:hover {
  @apply border-2 border-blue-600
}
.inp:hover {
  border: 2px solid #31373e;

}
.inp:focus + .phoneL {
  @apply text-blue-600

}

.timer {
  @apply text-primary
}

.timerSec{
  @apply  self-end mb-2;
  color: #63676c;
  font-size: 14px;
}
.btnSec {
  @apply flex flex-col ;
  margin-top: 30px;
}

.btnOtp {
  @apply  text-white  text-lg outline-none;
  width: 427px;
  height: 56px;
  background: #0371e8;
  border-radius: 8px;
}

.resend {
  @apply mt-5;
  color:#8b94a0 ;
  font-size: 16px;
  span {
    @apply underline cursor-pointer;
  }
}